numpy 
pandas
scikit-learn
seaborn
matplotlib

flask
requests
jsonify
pymysql
plotly
scikit-learn
uuid
opencv-python
oauthlib
requests-oauthlib
flask-oauthlib
google-oauth2-tool
google-auth-oauthlib
keras
pillow
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client